New principle: Don't invent something new just because the existing thing isn't perfect

This was brought up [here](https://github.com/w3ctag/design-principles/pull/505#discussion_r1869846986) by @annevk.

The observation was that pointing out the shortcomings of JSON might lead people to build a new format.  In almost every case, that's probably the worst possible reaction. JSON might be awful, but a new format is almost guaranteed to be far worse overall.

Instead, we might recommend that people use the existing thing and maybe incrementally improve it.


Could Microdata be an example, given the availability of RDFa and microformats?

Examples:

* WHATWG [Microdata](https://html.spec.whatwg.org/#microdata) given e.g., W3C [RDFa](https://www.w3.org/TR/rdfa-core/)
* WHATWG [URL](https://url.spec.whatwg.org/) given e.g., IETF [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986), [RFC 3987](https://datatracker.ietf.org/doc/html/rfc3987)
* WHATWG [URL Pattern](https://urlpattern.spec.whatwg.org/) given e.g., IETF [RFC 6570](https://datatracker.ietf.org/doc/html/rfc6570)
* W3C [URL Fragment Text Directives](https://wicg.github.io/scroll-to-text-fragment/) given e.g., W3C [Selectors and States](https://www.w3.org/TR/selectors-states/)
* ...